.carousel {
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}

.carousel-track {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 10px 0;
  justify-content: center
}

.carousel-item {
  display: flex;
  min-width: 140px;
  border-radius: 10px;
  background: white;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  text-decoration: none;
  color: #333;
  flex: 0 0 auto;
  justify-content: center
}

.carousel-item img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}
