/* Estilo general de la tarjeta */


/* #d6a77a; color terracota suave */
/* b5642f terracota más oscuro */
/* #fff8f2; color crema */


.tarjeta {
    border: 2px solid #d6a77a;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 320px;
    background-color: #fff8f2;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Georgia', serif;
}

/* Título de la tarjeta */
.tarjeta h2 {
    font-size: 1.6rem;
    /* color terracota */
    color: #c9743b;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'Palatino Linotype', 'Book Antiqua', serif;
}

/* Descripción de la tarjeta */
.tarjeta h3 {
    font-size: 1.1rem;
    /* marrón cálido */
    color: #7a5c40;
    margin-bottom: 15px;
    font-weight: 400;
    font-family: 'Georgia', serif;
}

/* Botón dentro de la tarjeta*/ 
.tarjeta button {
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    background-color: #c9743b;
    color: #fff8f2;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto', serif;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tarjeta button:hover {   
    background-color: #b5642f;
    transform: translateY(-2px);
}